 @import url('https://fonts.googleapis.com/css?family=Dancing+Script');

div {}

.lamegreen {
  background-color: #e6ffe6;
}

.lameyellow{
  background-color: #fbfbb6;
}

.vb-margin {
  margin: 2px;
}

.rightalign {
  text-align: right;
}

.bordered {
  border-style: solid;
  border-width: 1%;
  border-color: black;
}

hr {
  border-width: 2px;
  border-color: black;
  border-style: solid
}

.dashed {
  border-style: dashed;
}

.kitch {
  font-family: 'Dancing Script', cursive;
}

.vb-post-content {
  a {
    color: green;
  }

  a:hover {
    color: black;
  }
}
